extends layout

block content
	h1 Ndria
	p Welcome to Ndria

	a(href="/register") Create account
	br

	if user
		a(href="/manage") Manage account
		br
		a(href="/logout") Logout
	else
		br
		a(href="/login") Login
