extends layout

block content
	h2 Manage account

	table#pl-table
		thead
			tr
				th Name
				th Vocation
				th Level
				th Delete character

		tbody#pl-tbody

	button#create-char Create character


	template#pl-row(style="display:none")
		tr
			td
			td
			td
			td: button.red &nbsp;


	script(type="text/javascript").
		var user = !{JSON.stringify(user)};
		var players = !{JSON.stringify(players)};

	script(type="text/javascript", src="/js/manage.min.js")